<%- include('./partials/_head') %>

  <h1>Movie Quotes</h1>

  <ul>

    <% for (let quote of quoteList) { %>
      <a href="/quotes/<%= quote.id %>">
        <li><%= quote.quote %> </li>
      </a>
    <% } %>

  </ul>

  <form method="POST" action="/quotes">
    <input type="text" name="quoteContent" id="quote">
    <input type="submit" value="Add Quote">
  </form>
  
</body>
</html>